@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&family=Ubuntu:ital,wght@0,300;1,300&display=swap');

:root{
    --pri_green:#537640;
    --sec_green:#396846;
    --ter_green:#7b9c33;
    --bl_color: #120006;
    --wh_color:#FFFFFF;
}

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    font-size:14px;
}

body{
    font-family: 'Montserrat', sans-serif;
}