
#loginSignUpForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

button {
    background-color: var(--pri_green);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    background-color: var(--bl_color);
}

#loginSignUpForm>h2{
    font-size: 2.5rem;
    margin-bottom:20px;
}

.container>label{
    font-weight: 200;
}

/* .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
} */

/* img.avatar {
    width: 40%;
    border-radius: 50%;
} */

/* form {
    padding: 16px;
} */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

