.main_section{
    width:100vw;
    height:80vh;
    /* background: url(../assets/ManchesterSalford_opacitiy50per.png) no-repeat; */
    background: url(../assets/ManchesterSalford_opacitiy50per-min.png) no-repeat;
    display: flex;
    justify-content: space-between;
}

/*BEGGINING WHY US  */
#whyusSec{
    background-color: var(--sec_green);
    padding:50px;
    padding-left:100px;
    align-self: center;
    width: 50%;
    /* border: 2px black solid; */
    margin:100px;
    
}

#whyusSec>h1{
    font-size: 3rem;
    color: var(--wh_color);
    border-bottom: black solid 10px;
    text-align: justify;
}


#whyusSec>h3{
    font-size: 2rem;
    padding-top: 5px;
    text-align: justify;
}



#whyusSec>ul>li{
    padding-top:10px;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--wh_color);
    text-align: justify;
    list-style: none;
}

#whyusSec>ul>li::before {
    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: var(--wh_color); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }


/*END WHY US  */

/*BEGGINING LATESTnEWS  */
#latestNews{
    /* background-color: var(--ter_green); */
    width:20vw;
    height:50vh;
    /* border: black solid 5px; */
    padding:10px;
    padding-right:20px;
    
    align-self: flex-start;
    height: 75%;
    align-self: center;
}

#latestNews>div{
    height:50%;
    overflow:hidden scroll;
}

#latestNews>div::-webkit-scrollbar {
    width: 11px;
}
#latestNews>div {
    scrollbar-width: thin;
    scrollbar-color: var(--sec_green) var(--bl_color);
}
#latestNews>div::-webkit-scrollbar-track {
    background: var(--bl_color);
  }
#latestNews>div::-webkit-scrollbar-thumb {
    background-color: var(--sec_green) ;
    border-radius: 6px;
    border: 3px solid var(--bl_color);
}



#latestNews>div>h2{
    font-size: 1.3rem;
    color: var(--wh_color);
    font-weight: 400;
}

#latestNews>div>a>*{
    text-align: justify;
}

#latestNews>div>a{
    text-decoration: none;
}
#latestNews>div>a>h3{
    color: var(--pri_green);
}
#latestNews>div>a>p{
    color: var(--bl_color);
}


#corpNews{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--bl_color);
}

/* END LATESTnEWS  */

/*BEGGINING REVIEWS  */


#reviewsSec{
    padding:100px;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#reviewsSec>div{
    border:2px solid black;
    background-color: var(--ter_green);
    /* background-color: var(--sec_green); */
    /* background-color: var(--pri_green); */
    width:250px;
    text-align: center;
    border-radius: 3%;
    box-shadow: 5px 5px;
}


/* #reviewsSec>div>img{ */
.custPics{
    padding:20px;
    width:175px;
    height:175px;
    border-radius:50%;
    
}

.custPics:hover{
    scale:1.1;
}

.reviews>h2{
    margin:20px 0px;
    font-size:1.2rem;
    font-weight: 400;
}

.reviews>.ratingStars{
    margin:20px 0px;
}

.reviews>p{
    margin:5px 20px;
    text-align: left;
    font-size: 1.1rem;
}

.stars{
    width:25px;
    height:25px;
}



/*END REVIEWS  */



/* BEGINNING MEIDA QUERY  */

@media all and (max-width:1550px){

    #whyusSec>h1{
        font-size: 2.5rem;
    }
    
    #whyusSec>ul>li{
        font-size: 1.2rem;
    }
    
    #whyusSec>h3{
        font-size: 1.8rem;
    }
}


@media all and (max-width:1200px){
    #whyusSec{
        width: 100%;
    }
    #latestNews{
        display: none;
    } 
    #whyusSec>h1{
        font-size: 2rem;
    }

    #whyusSec>h3{
        font-size: 1.5rem;
    }
    
    #whyusSec>ul>li{
        font-size: 1rem;
    }
    

}
@media all and (max-width:500px){
    #whyusSec>h3{
        display: none;
    } 
}

/* END MEIDA QUERY  */